

<!-- <fb:login-button data-size="xlarge" scope="public_profile,email,publish_actions,manage_notifications" onlogin="checkLoginState();">Play Now</fb:login-button> -->

       <center>
   <p class="lead"><font color="#C48793"><span class=" glyphicon glyphicon-heart"></span><span id="status"></span>&nbsp;&nbsp;Now, Find out if your crush likes you back!!<span class=" glyphicon glyphicon-heart"></span></font></p>
 <% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>
     </center>




<div class="container-fluid">
</br></br></br>
   
           	 <ul class="nav nav-tabs">
                <li><a href="#hot" data-toggle="tab"><span class="glyphicon glyphicon-play"></span><small class="text-success">Step-1</small> Invite & Share</a></li>
                <li><a href="#hin" data-toggle="tab"><span class="glyphicon glyphicon-play"></span><small class="text-success">Step-2</small> Your Hint</a></li>
                <li><a href="#tel" data-toggle="tab"><span class="glyphicon glyphicon-play"></span><small class="text-success">Step-3</small> Check Whether Your Crush Likes You Back </a></li>
               
             </ul>


        <div class="tab-content">
            <div class="tab-pane fade active in" id="hot">
             <center><p></br></br></br>
             <h3>Share this Game With Your Friends & also invite them</h3></br></br></br>
             <table>
        <tr><td>     	<div id="shareBtn" class="btn btn-success clearfix">Share This Game</div><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>

<div > <a onclick='requestToFriends();' ><button class="btn btn-primary clearfix">Invite Your Friends</button></a></div>
</td></tr></table>
             </p></center>
            </div>
             <div class="tab-pane fade" id="hin">
             <center><p>  </br></br></br>

              


   

  <%= form_for(:facebook, :url => {:action => 'create'}) do |f| %>

    <table summary="Subject form fields">

           <tr><input type="hidden" size="35" name="facebook[userid]" id="username">
        <th>Your Name:</th>
        <td><input type="text" size="35" name="facebook[name]" id="facebook_name"></td>
      </tr>
      <tr>
        <th>Email:</th>
        <td><input type="text" size="35" name="facebook[email]" id="mail" type="mail"></td>
      </tr>
      <tr>
        <th>Your Crush Name:</th>
        <td><%= f.text_field(:friend,{:size=>"35"}) %></td>
      </tr>
      <tr>
        <th>Hint:</th>
        <td><%= f.text_area(:hint,{:size=>"34"}) %>
         <div class="form-buttons">
      <%= submit_tag("Submit",{:class=>"btn btn-primary"}) %>
    </div>
</td>
      </tr>
    </table>

   
  <% end %>



  </p></center>
            </div>
    
    
        
            <div class="tab-pane fade" id="tel">
             <center><p>
             	         	</br></br></br>
<%if true%>
<h3>Still, No reply from your crush</h3>
<%else%>
<p></p>
<%end%>


             </p></center>
            </div>
    

           

 
        </div>

        </article>
    


    <script>
        $(function () {
            $('.nav-tabs a:first').tab('show');
        });
    </script>




<span id="mfs"></span>
<script>
	document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    display: 'popup',
    method: 'share',
    href: 'https://apps.facebook.com/stupidcupidd/',
  }, function(response){});
}


</script>
</div>